@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* VARIABLES */
:root {
  --HEADER-HEIGHT: 3rem;
  /* =========== Colors ========= */
  --HUE-COLOR: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340  */

  /* HSL color mode */
  --FIRST-COLOR: hsl(var(--HUE-COLOR), 69%, 61%);
  --FIRST-COLOR-SECOND: hsl(var(--HUE-COLOR), 69%, 61%);
  --FIRST-COLOR-ALT: hsl(var(--HUE-COLOR), 57%, 53%);
  --FIRST-COLOR-LIGHTER: hsl(var(--HUE-COLOR), 92%, 85%);
  --TITLE-COLOR: hsl(var(--HUE-COLOR), 8%, 15%);
  --TEXT-COLOR: hsl(var(--HUE-COLOR), 8%, 45%);
  --TEXT-COLOR-LIGHT: hsl(var(--HUE-COLOR), 8%, 65%);
  --INPUT-COLOR: hsl(var(--HUE-COLOR), 70%, 96%);
  --BODY-COLOR: hsl(var(--HUE-COLOR), 60%, 99%);
  --CONTAINER-COLOR: #fff;

  /* ======== Font and Typography ======== */
  --BODY-FONT: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ..... */
  --BIG-FONT-SIZE: 2rem;
  --H1-FONT-SIZE: 1.5rem;
  --H2-FONT-SIZE: 1.25rem;
  --H3-FONT-SIZE: 1.125rem;
  --NORMAL-FONT-SIZE: 0.938rem;
  --SMALL-FONT-SIZE: 0.813rem;
  --SMALLER-FONT-SIZE: 0.75rem;

  /* ======== Font weight =========  */
  --FONT-MEDIUM: 500;
  --FONT-SEMI-BOLD: 600;

  /*  ========Margin Bottom ======= */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px .... */

  --MB-0-25: 0.25rem;
  --MB-0-5: 0.5rem;
  --MB-0-75: 0.75rem;
  --MB-1: 1rem;
  --MB-1-5: 1.5rem;
  --MB-2: 2rem;
  --MB-2-5: 2.5rem;
  --MB-3: 3rem;

  /*  ======== Z Index ======== */
  --Z-TOOLTIP: 9;
  --Z-FIXED: 99;
  --Z-MODAL: 999;
}

/*  Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --BIG-FONT-SIZE: 3rem;
    --H1-FONT-SIZE: 2.25rem;
    --H2-FONT-SIZE: 1.5rem;
    --H3-FONT-SIZE: 1.25rem;
    --NORMAL-FONT-SIZE: 1rem;
    --SMALL-FONT-SIZE: 0.875rem;
    --SMALLER-FONT-SIZE: 0.813rem;
  }
}

/* ============ BASE ========== */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--HEADER-HEIGHT) 0;
  font-family: var(--BODY-FONT);
  font-size: var(--NORMAL-FONT-SIZE);
  background-color: var(--BODY-COLOR);
  color: var(--TEXT-COLOR);
}

h1,
h2,
h3,
h4 {
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-SEMI-BOLD);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

label,
input,
button {
  font: inherit;
}

/* ======== RE-USABLE CSS CLASSES ======== */
.offscreen {
  position: absolute;
  left: -10000px;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--H1-FONT-SIZE);
}

.section__subtitle {
  display: block;
  font-size: var(--SMALL-FONT-SIZE);
  margin-bottom: var(--MB-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ========= LAYOUT ========= */

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--Z-FIXED);
  background-color: var(--BODY-COLOR);
}

/* =========== NAV ========== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav__logo,
.nav__toggle {
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
}

.nav__logo:hover {
  color: var(--FIRST-COLOR);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--FIRST-COLOR);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--BODY-COLOR);
    padding: 2rem 1rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .nav__list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* or repeat(auto-fit, minmax(120px, 1fr)) */
    gap: 1.5rem;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
}

.nav__link:hover {
  color: var(--FIRST-COLOR);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  cursor: pointer;
  color: var(--FIRST-COLOR);
}

.nav__close:hover {
  color: var(--FIRST-COLOR);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* ======== HOME ======= */
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 0.75rem;
}

.home__social-icon {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
}

.home__social-icon:hover {
  color: var(--FIRST-COLOR-ALT);
}

.home__img {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.home__blob {
  width: 100%;
  height: auto;
}

.home__blob > g {
  transform: scale(1.4) translate(-150px, -169px);
}

.home__blob-img {
  width: 600px;
  height: auto;
}

.home__blob g path {
  fill: var(--FIRST-COLOR);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--BIG-FONT-SIZE);
}

.home__subtitle {
  font-size: var(--H3-FONT-SIZE);
  color: var(--TEXT-COLOR);
  font-weight: var(--FONT-MEDIUM);
  margin-bottom: var(--MB-0-75);
}

.home__description {
  margin-bottom: var(--MB-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--FIRST-COLOR);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
  margin-right: var(--MB-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* ======= BUTTONS ======== */
.button {
  display: inline-block;
  background-color: var(--FIRST-COLOR);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--FONT-MEDIUM);
}

.button:hover {
  background-color: var(--FIRST-COLOR-ALT);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--MB-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: #fff;
  color: var(--FIRST-COLOR);
}

.button--white:hover {
  background-color: #fff;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--FIRST-COLOR);
}

.button--link:hover {
  background-color: transparent;
  color: var(--FIRST-COLOR-ALT);
}

/* ========= ABOUT ======== */
.about__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--MB-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--MB-2-5);
}

.about__info-title {
  font-size: var(--H2-FONT-SIZE);
  font-weight: var(--FONT-SEMI-BOLD);
  color: var(--TITLE-COLOR);
}

.about__info-name {
  font-size: var(--SMALLER-FONT-SIZE);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__button {
  display: flex;
  justify-content: center;
}

/* SKILLS */
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--MB-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
}

.skills__icon {
  margin-right: var(--MB-0-75);
}

.skills__title {
  font-size: var(--H3-FONT-SIZE);
}

.skills__subtitle {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TEXT-COLOR-LIGHT);
}

.skills__arrrow {
  margin-left: auto;
  transition: 0.4s;
}

.skill__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--MB-0-5);
}

.skills__name {
  font-size: var(--NORMAL-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--FIRST-COLOR-LIGHTER);
}

.skills__percentage {
  display: block;
  background-color: var(--FIRST-COLOR);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 95%;
}

.skills__js {
  width: 80%;
}

.skills__react {
  width: 92%;
}

.skills__node {
  width: 95%;
}

.skills__mongo {
  width: 90%;
}

.skills__express {
  width: 95%;
}

.skills__postgres {
  width: 80%;
}

.skills__docker {
  width: 90%;
}

.skills__nginx {
  width: 80%;
}

.skills__aws {
  width: 80%;
}

.skills__pm2 {
  width: 90%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--MB-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* ========= QUALIFICATION ============ */
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--MB-2);
}

.qualification__button {
  padding: 0 0.75rem;
  border: 2px solid var(--FIRST-COLOR-LIGHTER);
  border-radius: 1.25rem;
  font-size: var(--H3-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
  cursor: pointer;
  color: var(--TEXT-COLOR);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--MB-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--NORMAL-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--SMALL-FONT-SIZE);
  margin-bottom: var(--MB-1);
}

.qualififcation__calender {
  font-size: var(--SMALLER-FONT-SIZE);
  color: var(--TEXT-COLOR-LIGHT);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--FIRST-COLOR);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--FIRST-COLOR);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--FIRST-COLOR);
}

.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--CONTAINER-COLOR);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  cursor: pointer;
}

.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--FIRST-COLOR);
  margin-bottom: var(--MB-1);
}

.services__title {
  font-size: var(--H3-FONT-SIZE);
  margin-bottom: var(--MB-1);
  font-weight: var(--FONT-MEDIUM);
}

.services__button {
  cursor: pointer;
  font-size: var(--SMALL-FONT-SIZE);
}

.services__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--Z-MODAL);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services__modal-content {
  position: relative;
  background-color: var(--CONTAINER-COLOR);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: var(--H3-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
  margin-bottom: var(--MB-1-5);
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--FIRST-COLOR);
  cursor: pointer;
}

.services__modal-icon {
  color: var(--FIRST-COLOR);
  margin-right: var(--MB-0-25);
}

/*  ACTIVE MODAL  */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/* PORTFOLIO SECTION */
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--H3-FONT-SIZE);
  margin-bottom: var(--MB-0-5);
}

.portfolio__description {
  margin-bottom: var(--MB-0-75);
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

/* .swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
} */

.portfolio .swiper .swiper-pagination:active {
  background-color: var(--FIRST-COLOR);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/* PROJECT IN MIND */
.project {
  text-align: center;
}

.project__bg {
  background-color: var(--FIRST-COLOR-SECOND);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--H2-FONT-SIZE);
  margin-bottom: var(--MB-0-75);
}

.project__description {
  margin-bottom: var(--MB-1-5);
}

.project__title,
.project__description {
  color: #fff;
}

.project__img {
  width: 232px;
  justify-self: center;
}

/* TESTIMONIAL */
.testimonial {
  padding: 0.5rem;
}

.testimonial__content {
  margin-bottom: var(--MB-0-5);
}

.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--MB-1);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--MB-0-75);
}

.testimonial__name {
  font-size: var(--H3-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
}

.testimonial__client {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TEXT-COLOR-LIGHT);
}

.testimonial__description {
  margin-bottom: var(--MB-2-5);
}

.testimonial__icon-star {
  color: var(--FIRST-COLOR);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/* CONTACT ME */
/* .contact__container {
  row-gap: 3rem;
} */

.contact__information {
  display: flex;
  margin-bottom: var(--MB-0-75);
  align-items: center;
}

.contact__icon {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
  margin-right: var(--MB-0-75);
}

.contact__information p {
  font-size: var(--H3-FONT-SIZE);
  margin: 0;
}

/* Contact Links */
.contact__subtitle {
  color: var(--FIRST-COLOR);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact__subtitle:hover {
  color: var(--FIRST-COLOR-ALT);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact__subtitle:active {
  color: var(--FIRST-COLOR-ALT);
  transform: translateY(1px);
}

.contact__subtitle:visited {
  color: var(--FIRST-COLOR-ALT);
}

.contact__subtitle:visited:hover {
  color: var(--FIRST-COLOR);
}

.contact__content {
  background-color: var(--INPUT-COLOR);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--SMALLER-FONT-SIZE);
  color: var(--TITLE-COLOR);
}

.contact__input {
  font: inherit;
  width: 100%;
  background-color: var(--INPUT-COLOR);
  color: var(--TEXT-COLOR);
  font-family: var(--BODY-FONT);
  font-size: var(--NORMAL-FONT-SIZE);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/* FOOTER */
.footer {
  padding-top: 3rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--FIRST-COLOR-SECOND);
  padding: 2rem 0 3rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

.footer__title {
  font-size: var(--H1-FONT-SIZE);
  margin-bottom: var(--MB-0-25);
}

.footer__subtitle {
  font-size: var(--SMALL-FONT-SIZE);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--FIRST-COLOR-LIGHTER);
}

.footer__socials {
  display: flex;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--MB-1-5);
}

.footer__social:hover {
  color: var(--FIRST-COLOR-LIGHTER);
}

.footer__copy {
  font-size: var(--SMALL-FONT-SIZE);
  text-align: center;
  color: var(--TEXT-COLOR-LIGHT);
  margin-top: var(--MB-3);
}
