@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* VARIABLES */
:root {
  --HEADER-HEIGHT: 3rem;
  /* =========== Colors ========= */
  --HUE-COLOR: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340  */

  /* HSL color mode */
  --FIRST-COLOR: hsl(var(--HUE-COLOR), 69%, 61%);
  --FIRST-COLOR-SECOND: hsl(var(--HUE-COLOR), 69%, 61%);
  --FIRST-COLOR-ALT: hsl(var(--HUE-COLOR), 57%, 53%);
  --FIRST-COLOR-LIGHTER: hsl(var(--HUE-COLOR), 92%, 85%);
  --TITLE-COLOR: hsl(var(--HUE-COLOR), 8%, 15%);
  --TEXT-COLOR: hsl(var(--HUE-COLOR), 8%, 45%);
  --TEXT-COLOR-LIGHT: hsl(var(--HUE-COLOR), 8%, 65%);
  --INPUT-COLOR: hsl(var(--HUE-COLOR), 70%, 96%);
  --BODY-COLOR: hsl(var(--HUE-COLOR), 60%, 99%);
  --CONTAINER-COLOR: #fff;

  /* ======== Font and Typography ======== */
  --BODY-FONT: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ..... */
  --BIG-FONT-SIZE: 2rem;
  --H1-FONT-SIZE: 1.5rem;
  --H2-FONT-SIZE: 1.25rem;
  --H3-FONT-SIZE: 1.125rem;
  --NORMAL-FONT-SIZE: 0.938rem;
  --SMALL-FONT-SIZE: 0.813rem;
  --SMALLER-FONT-SIZE: 0.75rem;

  /* ======== Font weight =========  */
  --FONT-MEDIUM: 500;
  --FONT-SEMI-BOLD: 600;

  /*  ========Margin Bottom ======= */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px .... */

  --MB-0-25: 0.25rem;
  --MB-0-5: 0.5rem;
  --MB-0-75: 0.75rem;
  --MB-1: 1rem;
  --MB-1-5: 1.5rem;
  --MB-2: 2rem;
  --MB-2-5: 2.5rem;
  --MB-3: 3rem;

  /*  ======== Z Index ======== */
  --Z-TOOLTIP: 9;
  --Z-FIXED: 99;
  --Z-MODAL: 999;
}

/*  Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --BIG-FONT-SIZE: 3rem;
    --H1-FONT-SIZE: 2.25rem;
    --H2-FONT-SIZE: 1.5rem;
    --H3-FONT-SIZE: 1.25rem;
    --NORMAL-FONT-SIZE: 1rem;
    --SMALL-FONT-SIZE: 0.875rem;
    --SMALLER-FONT-SIZE: 0.813rem;
  }
}

/* ============ BASE ========== */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--HEADER-HEIGHT) 0;
  font-family: var(--BODY-FONT);
  font-size: var(--NORMAL-FONT-SIZE);
  background-color: var(--BODY-COLOR);
  color: var(--TEXT-COLOR);
}

h1,
h2,
h3,
h4 {
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-SEMI-BOLD);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ======== RE-USABLE CSS CLASSES ======== */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--H1-FONT-SIZE);
}

.section__subtitle {
  display: block;
  font-size: var(--SMALL-FONT-SIZE);
  margin-bottom: var(--MB-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ========= LAYOUT ========= */

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--Z-FIXED);
  background-color: var(--BODY-COLOR);
}

/* =========== NAV ========== */
.nav {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav__logo,
.nav__toggle {
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
}

.nav__logo:hover {
  color: var(--FIRST-COLOR);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--FIRST-COLOR);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--BODY-COLOR);
    padding: 2rem 1rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .nav__list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* or repeat(auto-fit, minmax(120px, 1fr)) */
    gap: 1.5rem;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
}

.nav__link:hover {
  color: var(--FIRST-COLOR);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  cursor: pointer;
  color: var(--FIRST-COLOR);
}

.nav__close:hover {
  color: var(--FIRST-COLOR);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* ======== HOME ======= */
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 0.75rem;
}

.home__social-icon {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
}

.home__social-icon:hover {
  color: var(--FIRST-COLOR-ALT);
}

.home__img {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.home__blob {
  width: 100%;
  height: auto;
}

.home__blob > g {
  transform: scale(1.4) translate(-150px, -169px);
}

.home__blob-img {
  width: 600px;
  height: auto;
}

.home__blob g path {
  fill: var(--FIRST-COLOR);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--BIG-FONT-SIZE);
}

.home__subtitle {
  font-size: var(--H3-FONT-SIZE);
  color: var(--TEXT-COLOR);
  font-weight: var(--FONT-MEDIUM);
  margin-bottom: var(--MB-0-75);
}

.home__description {
  margin-bottom: var(--MB-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--FIRST-COLOR);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TITLE-COLOR);
  font-weight: var(--FONT-MEDIUM);
  margin-right: var(--MB-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* ======= BUTTONS ======== */
.button {
  display: inline-block;
  background-color: var(--FIRST-COLOR);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--FONT-MEDIUM);
}

.button:hover {
  background-color: var(--FIRST-COLOR-ALT);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--MB-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* ========= ABOUT ======== */
.about__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--MB-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--MB-2-5);
}

.about__info-title {
  font-size: var(--H2-FONT-SIZE);
  font-weight: var(--FONT-SEMI-BOLD);
  color: var(--TITLE-COLOR);
}

.about__info-name {
  font-size: var(--SMALLER-FONT-SIZE);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__button {
  display: flex;
  justify-content: center;
}

/* SKILLS */
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--MB-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--FIRST-COLOR);
}

.skills__icon {
  margin-right: var(--MB-0-75);
}

.skills__title {
  font-size: var(--H3-FONT-SIZE);
}

.skills__subtitle {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--TEXT-COLOR-LIGHT);
}

.skills__arrrow {
  margin-left: auto;
  transition: 0.4s;
}

.skill__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--MB-0-5);
}

.skills__name {
  font-size: var(--NORMAL-FONT-SIZE);
  font-weight: var(--FONT-MEDIUM);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--FIRST-COLOR-LIGHTER);
}

.skills__percentage {
  display: block;
  background-color: var(--FIRST-COLOR);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 95%;
}

.skills__js {
  width: 80%;
}

.skills__react {
  width: 92%;
}

.skills__node {
  width: 95%;
}

.skills__mongo {
  width: 90%;
}

.skills__express {
  width: 95%;
}

.skills__postgres {
  width: 80%;
}

.skills__docker {
  width: 90%;
}

.skills__nginx {
  width: 80%;
}

.skills__aws {
  width: 80%;
}

.skills__pm2 {
  width: 90%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--MB-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}
